.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f9d8a1;
  /* align-items: center; */
}
.logo {
  font-size: 24px;
  font-weight: bold;
  height: 0em;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 75px;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: #333;
}
.contact-btn {
  background-color: #f2823a;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.register-btn {
  background-color: #f2823a;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}
